.player-container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-right: 10px;
  height: 400px;
  padding-top: 100px;
  margin-bottom: 100px;
}

img {
  height: 400px;
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  object-fit: cover;
}

.player-names {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 100px;
  font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 768px) {
  .player-container {
    padding-top: 50px;
    display: grid;
    flex-direction: column;
    height: 200%;
  }
  img {
    margin-bottom: 20px;
  }
  .player-names {
    display: none;
  }
}
