<div class="footer-dark">
  <div class="logo"><img class="img" src="assets/img/miami_heat.png" alt="">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a routerLink="/products" href="#">Products</a></li>
            <li><a routerLink="/myDashboard" href="#">My Account</a></li>
            <li><a routerLink="/cart" href="#">Cart</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>NBA City Jersey Shop</h3>
          <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
        </div>
      </div>
      <p class="copyright">Max Kraemer © 2023</p>
    </div>
  </footer>
</div>
