<div class="player-container">
  <img src="assets/img/924718000.jpg.jpg" alt="">
  <img src="assets/img/gettyimages-1374042777_750xx1997-2663-0-0.jpeg" alt="">
  <img src="assets/img/new-orleans-pelicans-v-los-angeles-lakers.jpeg" alt="">
  <img src="assets/img/5787eb8f7bfb24a0a201e29500cff7cc.jpeg" alt="">
  <img src="assets/img/ukxr6rw2utqvqhrm0hvr.jpeg" alt="">
</div>

<div class="player-names">
  <p>Steph Curry</p>
  <p>Ja Morant</p>
  <p>Lebron James</p>
  <p>Luka Doncic</p>
  <p>Jimmy Butler</p>
</div>
