<div class="wrapped">
  <nav>
    <div class="logo"><img class="img" src="assets/img/Download.png" alt=""></div>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a routerLink="/products" href="#">Products</a></li>
      <li><a href="#">My Account</a></li>
      <li><a href="#">Contact</a></li>
      <li><a class="active" href="#">Register</a></li>
      <mat-icon class="cart-icon">shopping_cart</mat-icon>
    </ul>


  </nav>

  <section class="sec1">
    <div class="title-headline">
      <h2>Your City Jersey Shop</h2>
    </div>
  </section>


</div>


