<div class="wrapped">
  <nav>
    <div class="logo"><img class="img" src="assets/img/Download.png" alt=""></div>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a >My Account</a></li>
      <li><a >Contact</a></li>
      <li><a class="active" href="#">Register</a></li>
      <mat-icon matBadge="2" matBadgeColor="warn" class="cart-icon">shopping_cart</mat-icon>
    </ul>


  </nav>



</div>
<router-outlet></router-outlet>


