<div class="wrapped">
  <nav>
    <div routerLink="/home" class="logo"><img class="img" src="assets/img/miami_heat.png" alt=""><h3>The Heat Shop</h3></div>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a *ngIf="!auth.userLoggedIn" (click)="openLoginDialog()">My Account</a></li>
      <li><a *ngIf="auth.userLoggedIn" (click)="logout()">Logout</a></li>
      <li><a >Contact</a></li>
      <li><a class="active" (click)="openDialog()">Register</a></li>
      <mat-icon routerLink="/cart" matBadge="{{cart.bagdeCount}}" matBadgeColor="warn" class="cart-icon">shopping_cart</mat-icon>
    </ul>
  </nav>
</div>



