<section class="sec1">
</section>

<div class="products-container" >
  <div class="headline">
    <h3>Most Popular Jerseys</h3>
  </div>
  <div class="carousel-container">
    <c-carousel (itemChange)="onItemChange($event)" [interval]="5000" transition="slide">
      <c-carousel-inner>
        <c-carousel-item *ngFor="let slide of slides">
          <img
            [src]="slide.src"
            alt="{{slide.title}}"
            class=""
            loading="lazy"
          />
        </c-carousel-item>
      </c-carousel-inner>
    </c-carousel>

  </div>
</div>

