.user-data-container {
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
}

.user-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
}