.user-data-container {
    padding: 50px 200px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}
h2, h1 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

.item-img img {
    width: 150px;
    height: 150px;
  }