.headline {
    padding-left: 200px;
    padding-top: 50px;
}

h1, h2 {
    font-family: 'Lato', sans-serif;
}

h3 {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle , .mat-radio-outer-circle {
  border-color: blue !important;
}

.product-title {
    padding-left: 200px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
}

.back-icon {
    margin-right: 15px;
    height: 20px;
}

.checkout-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px 0px 200px;
    font-family: 'Lato', sans-serif;
}

.item-img img{
    width: 150px;
    height: 150px;
}

.pay-logo {
    height: 30px;
}

.item-price span {
    padding-top: 20px;
}

button {
  background-color: #000000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  height: 50px;
  width: 300px;
  font-family: 'Lato', sans-serif;
}

.checkout-btn{
  display: flex;
  justify-content: flex-end;
  padding-right: 200px;
  padding-top: 20px;
}