<div class="headline">
  <h3>Checkout</h3>
</div>

<div class="product-title" routerLink="/cart">
  <mat-icon class="back-icon">arrow_back</mat-icon>
  <span>Back to cart</span>
</div>

<div class="checkout-container">
  <div class="user-data-container">
    <div class="customer-title">
      <h1>Customer Information</h1>
    </div>
    <div class="user-container">
      <h1>Hello {{ user.displayName }}</h1>
      <p>Your Email is {{user.email}}</p>
    </div>
  </div>
  <div class="payment">
    <div class="payment-container">
      <div class="payment">
        <h1>Payment</h1>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1"><img class="pay-logo" src="assets/img/icons8-credit-card-64.png"> Credit Card</mat-radio-button>
          <mat-radio-button value="2"><img class="pay-logo" src="assets/img/icons8-paypal-48.png"> PayPal</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="order">
    <h2>Your Order</h2>
    <div class="order-container" *ngFor="let item of jerseyData">
      <div class="order">
        <div class="item-img"><img src="{{ item.jersey }}" alt="" /></div>
        <div>
          <span>{{ item.name }}</span>
        </div>
        <div>
          <span class="item-price">{{ item.price }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="checkout-btn">
  <button (click)="placeOrder()">Place Order</button>
</div>
