<div class="checkout-container">
        <div class="user-data-container">
            <div class="customer-title">
                <h1>Customer Information</h1>
            </div>
            <div class="user-container">
              <h1>Hello {{user.displayName}}</h1>
              <p>Here is your dashboard</p>
              <p>Your Email is {{user.email}}</p>
            </div>
          </div>
    <div class="payment">
        <div class="payment-container">
            <div class="payment">
              <h1>Payment</h1>
              <p>Paypal</p>
              <p>Credit Card</p>
            </div>
          </div>
    </div>
    <div class="order">
        <div class="order-container">
            <div class="order">
              <h1>Order</h1>
              <p>Product</p>
              <p>Product</p>
              <p>Product</p>
            </div>
          </div>
    </div>
</div>

<div class="checkout-btn">
    <button>Checkout</button>
  </div>
