.headline {
  padding-left: 200px;
  padding-top: 50px;
}

h1,
h2 {
  font-family: "Lato", sans-serif;
}

h3 {
  font-size: 40px;
  font-family: "Lato", sans-serif;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle,
.mat-radio-outer-circle {
  border-color: blue !important;
}

.product-title {
  padding-left: 200px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  margin-top: 20px;
  margin-bottom: 50px;
}

.back-icon {
  margin-right: 15px;
  height: 20px;
}

.checkout-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 200px 0px 200px;
  font-family: "Lato", sans-serif;
}

.item-img img {
  width: 150px;
  height: 150px;
}

.pay-logo {
  height: 30px;
}

.item-price span {
  padding-top: 20px;
}

button {
  background-color: #000000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  height: 50px;
  width: 300px;
  font-family: "Lato", sans-serif;
}

.checkout-btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 200px;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .user-data-container {
    padding-bottom: 50px;
  }
  .headline {
    padding-left: 20px;
    padding-top: 50px;
  }
  .product-title {
    padding-left: 0;
    cursor: pointer;
    font-size: 20px;
    padding-left: 20px;
    font-family: "Lato", sans-serif;
    margin-top: 20px;
  }
  .back-icon {
    margin-right: 15px;
    height: 20px;
  }
  .product-price {
    font-family: "Lato", sans-serif;
  }
  h3 {
    font-size: 50px;
    font-family: "Lato", sans-serif;
  }
  .cart-item {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding: 0px 20px 50px 0px;
  }
  img {
    height: 150px;
  }
  .payment-container {
    padding-bottom: 50px;
  }
  .checkout-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: 0px 20px 0px 20px;
    font-family: "Lato", sans-serif;
  }
  .item-img img {
    width: 150px;
    height: 150px;
  }
  .pay-logo {
    height: 30px;
  }
  .item-price span {
    padding-top: 20px;
  }
  button {
    background-color: #000000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    height: 50px;
    width: 300px;
    font-family: "Lato", sans-serif;
  }
  .checkout-btn {
    display: flex;
    justify-content: center;
    padding-right: 0px;
    padding-top: 50px;
  }  
}
